@use "global" as *;

.page-about__company-profile {

}

.company-profile {

}

.company-profile__inner {

}

.inner {

}

.company-profile__title {
  font-family: $base-font-family;
  font-size: rem(20);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  @include mq(md) {
    font-size: rem(32);
  }
}

.company-profile__list {
  max-width: rem(980);
  margin-right: auto;
  margin-left: auto;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(113);
  }
}

.company-profile__item {
  display: grid;
  grid-template-columns: 32% 1fr;
  align-items: center;
  justify-content: flex-start;
  gap: rem(16);
  padding: rem(16) 0;
  @include mq(md) {
    grid-template-columns: 23.571% 1fr;
    gap: 0;
    padding: rem(36) 0;
  }
}
.company-profile__item:not(:first-child) {
  border-top: 1px dotted $color-accent;
}

//リストタイトル
.company-profile__item dt {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
  line-height: 1;
}

// リスト詳細
.company-profile__item dt {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1;
}

