@use "global" as *;

// QとAを内包するアイテム
.faq-list__item {
  border-bottom: 1px solid $color-accent;
  padding: rem(40) 0 rem(36) 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.faq-list__item:hover {
  background-color: $color-accent-sub;
}

.faq-list__item:first-child {
  border-top: 1px solid $color-accent;
}

.faq-list__question {
  width: 100%;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
  text-align: left;
  display: flex;       // Q・テキスト・アイコンを横並び
  align-items: center; // 上揃え
}

/* Qマーク */
.faq-list__q {
  display: inline-block;
  width: rem(16);
  font-family: $second-font-family;
  font-size: rem(24);
  color: $color-accent;
  font-weight: $normal;
  line-height: 1;
  margin-right: rem(20);
  flex-shrink: 0; // 固定幅
}

.faq-list__label {
  flex: 1; // テキストが余白を埋める
}

.faq-list__icon {
  position: relative;
  width: rem(16);
  height: rem(16);
  margin-left: auto;
  flex-shrink: 0;
}

.faq-list__icon span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $color-accent;
  transition: transform 0.3s, opacity 0.3s;
}

.faq-list__icon span:first-child {
  transform: rotate(0deg); /* 横線 */
}

.faq-list__icon span:last-child {
  transform: rotate(90deg); /* 縦線 */
}

/* 開いているとき（aria-expanded=trueのとき） */
.faq-list__question[aria-expanded="true"] .faq-list__icon span:last-child {
  opacity: 0; /* 縦棒を消してマイナスに */
}

.faq-list__answer {
  display: none; //デフォルトで非表示
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.6;
  text-align: left;
  margin-top: rem(22);
  padding-left: rem(16 + 20);//QとQのmargin
  padding-right: rem(16 + 20);//プラスとmargin
}

