@use "global" as *;

// 募集カテゴリータグのul
.categorie-tag__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(20);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(49);
  }
}

.categorie-tag__item {
  background-color: $color-accent-sub;
  border: 1px solid $black;
  border-radius: rem(40);
  padding: rem(18) 0;
  text-align: center;
}

.categorie-tag__link {
  display: block;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  @include mq(md) {
    font-size: rem(20);
  }
}

.categorie-tag__link::after {
  content: "↓";
  margin-left: rem(20);
}

