@use "global" as *;

.header__sp-nav {

}

.sp-nav {
  width: 100%;
  height: 100vh;
  background-color: $color-accent-sub;
  padding: rem(8) rem(12);
}

.js-drawer-menu {

}

.sp-nav__logo {
  width: rem(150);
  height: rem(40);
}

.sp-nav__items {
  margin-top: rem(43);
}

.sp-nav__item {
  border-bottom: 1px solid $color-accent;
  padding: rem(13) 0;
}

.sp-nav__item:first-child {
  border-top: 1px solid $color-accent; // 最初の項目に上線を付ける
}

// ナビのテキスト英語
.sp-nav__item a {
  font-family: $second-font-family;
  font-size: rem(18);
  color: $black;
  font-weight: $regular;
  line-height: 1;
}

// ナビのテキスト日本語
.sp-nav__item a span {
  display: block;
  font-family: $base-font-family;
  font-size: rem(12);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(9);
}

.sp-nav__buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(13);
  margin-top: rem(53);
}

.sp-nav__button .button.button--entry.button--entry-black,
.sp-nav__button .button.button--entry.button--entry-accent {
  width: rem(248);
  height: rem(42);
}

.button {

}

.button--entry-black {

}

.button--entry-accent {

}

