@use "global" as *;

.top-member {
  margin-top: rem(71);
  @include mq(md) {
    margin-top: rem(121);
  }
}

.top-member__inner {
  position: relative;
  z-index: 0;
}

.top-member__section-title {
  @include mq(md) {
    margin-left: rem(76 - 24);
  }
}

.top-member__description {
  margin-top: rem(19);
  @include mq(md) {
    margin-top: rem(10);
  }
}

.top-member__description p {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
}

// Swiper 本体
.swiper.top-member__swiper {
  width: 100%;
  height: 100%;
  position: relative; // blog は absolute だけど、member は通常フローに載せてOK
  z-index: 1;
  margin-top: rem(50);
  @include mq(md) {
    margin-top: rem(52);
  }
}

.swiper-wrapper.swiper.top-member__swiper {
  width: 100%;
  height: 100%;
}

// スライド
// 画像とテキストボックスをずらしたデザインなので、
//スライドのaspect-ratioは指定せず、高さをautoにした
.swiper-slide.top-member__slide {
  width: rem(246);
  height: auto;
  @include mq(md) {
    width: rem(300);
  }
}

// swiper-wrapper配下の奇数・偶数スライドをずらす
.top-member__swiper .swiper-slide:nth-child(odd) {
  margin-bottom: rem(27);
}

.top-member__swiper .swiper-slide:nth-child(even) {
  margin-top: rem(27);
}

// ページネーション
.top-member__pagination {
  margin-top: rem(24);
  text-align: center;
  @include mq(md) {
    margin-top: rem(40);
  }
}

// 要確認（JSで実装）
.top-member__pagination .swiper-pagination-bullet {
  background-color: $black;
  opacity: 0.3;
}
.top-member__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.top-member__button {
  margin-top: rem(100);
  text-align: center;
}